/* html, body {
  min-height: 100%;
} */

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --thistle-pink: #DEC5E3;
  --columbian-blue: #CDEDFD;
  --celeste: #A9F8FB;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

/* SHARED */

nav li {
  cursor: pointer;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Andale Mono', monospace;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h2 {
  font-size: 2rem;
}

.pink-bg {
  background-color: var(--thistle-pink);
}

.light-blue-bg {
  background-color: var(--columbian-blue);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

/* NAV */

.navActive {
  color: var(--celeste);
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.header-title {
  padding: 4px;
}

.header-nav {
  padding-bottom: 2px;
}

/* FOOTER */

.footer-styles {
  display: block;
  padding: 2px;
  height: 15px;
  width: 100%;
}

.footer-list {
  background-color: var(--columbian-blue);
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
}