body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://wallpaperaccess.com/full/1179418.jpg");
  background-repeat: no-repeat;
}

:root {
  --thistle-pink: #DEC5E3;
  --columbian-blue: #CDEDFD;
  --uranian-blue: #B6DCFE;
  --cyber-grape: #635380;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  --loading: url(https://cdn.dribbble.com/users/1783374/screenshots/10100442/cute-loading.gif);
}

/* SHARED */

nav li {
  cursor: pointer;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Andale Mono', monospace;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h2 {
  font-size: 2rem;
}

.pink-bg {
  background-color: var(--thistle-pink);
  box-shadow: 0 0 5px 10px var(--thistle-pink);
}

.light-blue-bg {
  background-color: var(--columbian-blue);
}

.purple.bg {
  background-color: var(--cyber-grape);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.loading {
  border-radius: 200px;
}

/* SHARED LAYOUT */

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 60vh;
}

.content {
  width: 60%;
  text-align: center;
  margin: 0 20% 0 20%;
  height: 50vh;
}

.img-thumbnail {
  width: auto;
  height: 200px;
}

/* NAV */

.navActive {
  color: var(--columbian-blue);
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.header-title {
  padding: 4px;
}

.header-nav {
  padding-bottom: 2px;
}

/* FOOTER */

.footer-styles {
  display: block;
  padding: 2px;
  height: 15px;
  width: 100%;
  opacity: 0.5;
}

.footer-list {
  background-color: var(--cyber-grape);
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
  box-shadow: 0 0 5px 10px var(--cyber-grape);
}

/*RESUME */

.subtext {
  font-size: 12px;
  color: var(--cyber-grape);
  padding-bottom: 2%;
}

/* CONTACT FORM */

.form-item {
  padding: 1%;
}

input, textarea {
  font-family: 'Courier New', monospace;
}

.error-text {
  color: var(--cyber-grape);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  color: white;
  background-color: var(--cyber-grape);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}